[Unit]
Description=SteamDeck Plugin Loader
After=network.target
[Service]
User=tannertracy
Restart=always
ExecStart=%h/homebrew/services/PluginLoader
ExecStop=killall -9 %h/homebrew/service/PluginLoader
WorkingDirectory=%h/homebrew/services
[Install]
WantedBy=default.target
